USE [EmlakOfisiDb]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7.05.2021 12:07:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Adress]    Script Date: 7.05.2021 12:07:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adress](
	[Id] [nvarchar](128) NOT NULL,
	[Country] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[County] [nvarchar](50) NULL,
	[FullArdress] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Adress] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 7.05.2021 12:07:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 7.05.2021 12:07:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 7.05.2021 12:07:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 7.05.2021 12:07:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 7.05.2021 12:07:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Property]    Script Date: 7.05.2021 12:07:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Property](
	[Id] [nvarchar](128) NOT NULL,
	[AgentId] [nvarchar](128) NULL,
	[Type] [nvarchar](max) NULL,
	[Price] [int] NOT NULL,
	[RoomRage] [int] NOT NULL,
	[BedroomRange] [int] NOT NULL,
	[BathroomRange] [int] NOT NULL,
	[HomeAge] [int] NOT NULL,
	[HomeSize] [int] NOT NULL,
	[State] [bit] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Desc] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Property] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 7.05.2021 12:07:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [nvarchar](128) NOT NULL,
	[CompanyName] [nvarchar](75) NOT NULL,
	[UserName] [nvarchar](25) NULL,
	[Password] [nvarchar](25) NULL,
 CONSTRAINT [PK_dbo.User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Adress] ([Id], [Country], [City], [County], [FullArdress]) VALUES (N'1143fd61-f995-4e4c-a1cc-98701a5d7a74', N'Türkiye', N'Amasya', NULL, NULL)
INSERT [dbo].[Adress] ([Id], [Country], [City], [County], [FullArdress]) VALUES (N'1859a23f-2bc5-4213-a0ca-c1ccf03131df', NULL, NULL, NULL, NULL)
INSERT [dbo].[Adress] ([Id], [Country], [City], [County], [FullArdress]) VALUES (N'197b9519-cd97-45e3-bcb2-3a6ca90e5fa1', N'1', N'1', N'1', NULL)
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Discriminator]) VALUES (N'5a29b11b-d437-43d5-b1fa-3bd2a28bc688', N'Admin', N'ApplicationRole')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Discriminator]) VALUES (N'dce9ece3-0c43-41b1-a679-95c8312f3d8d', N'Agent', N'ApplicationRole')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'3fdf7d68-af8a-4117-9070-93e427e972b1', N'5a29b11b-d437-43d5-b1fa-3bd2a28bc688')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'7c7a5da8-cbd6-4f49-9538-e4a0d82fc143', N'dce9ece3-0c43-41b1-a679-95c8312f3d8d')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'3fdf7d68-af8a-4117-9070-93e427e972b1', NULL, 0, N'AHdVSwiBPmLdVZnukxApu7vEQwM7vXZrj+dKpN4g1rxAjZLLuWqYqX0m0CWK5TIpdw==', N'157cf972-8cf4-42fd-b347-7d99e2c9c326', NULL, 0, 0, NULL, 1, 0, N'admin')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'7c7a5da8-cbd6-4f49-9538-e4a0d82fc143', NULL, 0, N'AKsNEDP71U1g3hhAnm7Xv48leZGqFNeqXIqeIOpIUvaWARYmp0u0KsIx27kaAEGbYA==', N'c1fc3872-57c7-4f4d-b87c-aae1776017c8', NULL, 0, 0, NULL, 1, 0, N'agent ')
GO
INSERT [dbo].[Property] ([Id], [AgentId], [Type], [Price], [RoomRage], [BedroomRange], [BathroomRange], [HomeAge], [HomeSize], [State], [Date], [Desc]) VALUES (N'1143fd61-f995-4e4c-a1cc-98701a5d7a74', N'3fdf7d68-af8a-4117-9070-93e427e972b1', N'Müstakil', 150, 5, 0, 0, 5, 120, 0, CAST(N'2021-05-07T10:14:32.747' AS DateTime), NULL)
INSERT [dbo].[Property] ([Id], [AgentId], [Type], [Price], [RoomRage], [BedroomRange], [BathroomRange], [HomeAge], [HomeSize], [State], [Date], [Desc]) VALUES (N'2a3c1283-fe27-4c4a-a0c2-a64353ea2fb0', N'3fdf7d68-af8a-4117-9070-93e427e972b1', N'Müstakil', 120, 12, 0, 0, 3, 125, 1, CAST(N'2021-05-07T01:43:43.540' AS DateTime), NULL)
INSERT [dbo].[Property] ([Id], [AgentId], [Type], [Price], [RoomRage], [BedroomRange], [BathroomRange], [HomeAge], [HomeSize], [State], [Date], [Desc]) VALUES (N'319d175f-0cd2-4f8f-a9bc-3e50822f2ebc', N'7c7a5da8-cbd6-4f49-9538-e4a0d82fc143', N'Dublex', 100, 3, 0, 0, 3, 120, 1, CAST(N'2021-05-07T11:25:08.643' AS DateTime), NULL)
GO
INSERT [dbo].[User] ([Id], [CompanyName], [UserName], [Password]) VALUES (N'3fdf7d68-af8a-4117-9070-93e427e972b1', N'admin', N'admin', N'123')
INSERT [dbo].[User] ([Id], [CompanyName], [UserName], [Password]) VALUES (N'7c7a5da8-cbd6-4f49-9538-e4a0d82fc143', N'agent company', N'agent ', N'123')
GO
ALTER TABLE [dbo].[Property] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [Date]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Property]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Property_dbo.Adress_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[Adress] ([Id])
GO
ALTER TABLE [dbo].[Property] CHECK CONSTRAINT [FK_dbo.Property_dbo.Adress_Id]
GO
ALTER TABLE [dbo].[Property]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Property_dbo.User_AgentId] FOREIGN KEY([AgentId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Property] CHECK CONSTRAINT [FK_dbo.Property_dbo.User_AgentId]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_dbo.User_dbo.Adress_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[Adress] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_dbo.User_dbo.Adress_Id]
GO
